.container {
  padding: 10rem 0rem;
  background-color: var(--floral-white);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
  text-align: center;
}

.spark {
  text-align: center;
  color: var(--purple);
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  background-image: url("/svgs/accent1.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 0.75em;
  padding-top: 0.3em;
  padding-left: 0.4em;
  display: inline-block;
  overflow: visible;
}

.squiggly {
  color: var(--purple);
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  background-image: url("/svgs/accent2.svg");
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: 300px;
  padding-left: 2rem;
  /* padding-bottom: .4rem; */
}

.copy {
  text-align: center;
  width: 50%;
  /* font-weight: 700; */
  font-size: 2rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.bottom {
  margin-top: 5rem;
  position: relative;
  z-index: 1;
}

.bottom::after {
  content: "";
  position: absolute;

  top: auto;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bisque);
  width: 100vw;
  height: 60%;
  z-index: -1;
  pointer-events: none;
}

.bottomContainer {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-gap: 1rem;
}

.b1,
.b2,
.b3 {
  height: 100%;
  font-size: 0rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.img1,
.img2 {
  object-fit: cover;
  border-radius: 10px;
  clip-path: var(--clip-path-3);
}

.img1 {
  transform: scaleX(-1);
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  user-select: none;
  font-size: 0;
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 60%;
  }

  .bottomContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .b2 {
    order: -1;
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .squiggly {
    padding-bottom: 0.5rem;
  }

  .imgContainer {
    height: 200px;
  }

  .img1,
  .img2 {
    clip-path: var(--clip-path-1);
  }

  .video {
    height: 250px;
  }

  .copy {
    width: 100%;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
  }
}
