.imgCluster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--white);
  margin-left: -20px;
}

@media screen and (max-width: 5668px) {
    .image {
        width: 50px;
        height: 50px;
    }
}